@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root{
 --Orange: hsl(25, 97%, 53%);
 --White: hsl(0, 0%, 100%);
 --Light-Grey: hsl(217, 12%, 63%);
 --Dark-Blue: hsl(213, 19%, 18%);
 --Very--Dark--Blue: hsl(216, 12%, 8%);
 --grey: hsl(211, 28%, 25%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-size: 15px;
    font-family: "overpass", sans-serif;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.main, 
.thnku {
    background-color: hsl(211, 29%, 15%);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 400px;
}

.main img {
    background-color: hsl(211, 28%, 25%);
    padding: 1rem;
    border-radius: 50%;
}
.main h1 {
    color: white;
    margin: 2rem 0 1rem;
}
.main p{
    color: var(--Light-Grey);
    margin-bottom: 1rem;
}
.main ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.main ul li button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: hsl(211, 28%, 25%);
    padding-top: 0.2rem;
    cursor: pointer;
    transition: 0.4s;
}
.main ul li button:hover{
    background-color: var(--Orange);
}
.main ul li button:focus{
    background-color: var(--White);
    color: black;
}

button {
    font-family: inherit;
}
.btn-sub{
    background-color: var(--Orange);
    padding: 0.8rem 0 0.5rem;
    border-radius: 30px;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.1rem;
}
.btn-sub.btn-sub:hover{
    background-color: white;
    color: black;
}
p{
    line-height: 1.8;
}

.thnku{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.thnku img{
    display: block;
    margin: 0 auto 2rem;
}
.thnku p.grey{
    color: var(--Orange);
    background-color: hsl(213, 19%, 18%);
    border-radius: 30px;
    padding: 0.3rem 0.5rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;

}
.thnku h2{
    color: white;
    margin-bottom: 1rem;
}
.thnku p{
    color: var(--Light-Grey);
    margin-bottom: 2rem;
}

.hidden{
    display: none;
}


.attribution { 
    font-size: 14px; 
    text-align: center;
    color: white;
    margin-top: 2rem; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

